
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-dribbble:before { content: '\f050'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-pinterest-circled:before { content: '\f313'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
