.sec1 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  background-image: url(../img/header.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 50px 350px inset rgb(48, 2, 100);
  transition: 1.5s;
}
.sec1:hover {
  box-shadow: 0 0 50px -50px inset rgb(48, 2, 100);
}
.sec1 > header {
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.sec1 > header > div:nth-of-type(1) {
  border: 2px double rgb(207, 207, 207);
  width: 25%;
  height: 5px;
}
.sec1 > header > div:nth-of-type(2) {
  border: 2px double rgb(207, 207, 207);
  width: 25%;
  height: 5px;
}
.sec1 > header > nav {
  border-left: 2px solid rgb(207, 207, 207);
  border-right: 2px solid rgb(207, 207, 207);
  width: 50%;
  height: 50px;
}
.sec1 > header > nav > ul {
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.sec1 > header > nav > ul > li {
  padding: 0 10px;
}
.sec1 > header > nav > ul > li:nth-of-type(2) {
  transition: 0.4s;
  position: relative;
  overflow: hidden;
}
.sec1 > header > nav > ul > li:nth-of-type(2):hover {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  overflow: visible;
}
.sec1 > header > nav > ul > li:nth-of-type(2):hover > .ul1 {
  opacity: 10;
}
.sec1 > header > nav > ul > li:nth-of-type(2) > .ul1 {
  width: 180px;
  height: auto;
  border-top: 5px solid rgb(172, 36, 36);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  left: -40px;
  opacity: 0;
  transition: 2s;
}
.sec1 > header > nav > ul > li:nth-of-type(2) > .ul1 > li {
  border-bottom: 1px solid rgb(212, 212, 212);
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 10px 10px;
}
.sec1 > header > nav > ul > li:nth-of-type(2) > .ul1 > li a {
  color: rgba(0, 0, 0, 0.603);
}
.sec1 > header > nav > ul > li:nth-of-type(2) > .ul1 > li a:hover {
  color: red;
}
.sec1 > header > nav > ul > li:nth-of-type(2) > .ul1 > li:nth-of-type(5) {
  border-bottom: none;
}
.sec1 > header > nav > ul > li:nth-of-type(2) > .ul1 > li:nth-of-type(4) {
  position: relative;
  overflow: hidden;
}
.sec1 > header > nav > ul > li:nth-of-type(2) > .ul1 > li:nth-of-type(4):hover {
  overflow: visible;
}
.sec1 > header > nav > ul > li:nth-of-type(2) > .ul1 > li:nth-of-type(4):hover > ul {
  opacity: 10;
}
.sec1 > header > nav > ul > li:nth-of-type(2) > .ul1 > li:nth-of-type(4) > ul {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 150px;
  position: absolute;
  top: -10px;
  left: 180px;
  background-color: rgb(255, 255, 255);
  border-left: 2px solid rgb(172, 36, 36);
  border-radius: 5px;
  opacity: 0;
  transition: 2s;
}
.sec1 > header > nav > ul > li:nth-of-type(2) > .ul1 > li:nth-of-type(4) > ul > li {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgb(212, 212, 212);
  padding: 15px 5px;
}
.sec1 > header > nav > ul > li:nth-of-type(2) > .ul1 > li:nth-of-type(4) > ul > li a {
  color: rgba(0, 0, 0, 0.411);
}
.sec1 > header > nav > ul > li:nth-of-type(2) > .ul1 > li:nth-of-type(4) > ul > li a:hover {
  color: red;
}
.sec1 > header > nav > ul > li:nth-of-type(2) > .ul1 > li:nth-of-type(4) > ul > li:nth-of-type(4) {
  border-bottom: none;
}
.sec1 > header > nav > ul > li:nth-of-type(2) > .ul1 > li:nth-of-type(4) > ul > li > a {
  font-size: 13px;
}
.sec1 div {
  width: 250px;
  justify-content: center;
  flex-wrap: wrap;
}
.sec1 div > h1 {
  height: 100px;
  font-size: 52px;
}
.sec1 div > h1 > a {
  position: relative;
}
.sec1 div > h1 > a::after {
  content: "";
  display: flex;
  width: 255px;
  height: 5px;
  position: absolute;
  border-top: 1px solid rgba(255, 255, 255, 0.473);
  border-bottom: 1px solid rgba(255, 255, 255, 0.473);
  top: 70px;
  left: -50px;
}
.sec1 div > h1 > a:hover {
  color: goldenrod;
}
.sec1 div > p {
  font-size: 15px;
  margin-bottom: 30px;
  color: antiquewhite;
}
.sec1 div > a {
  background-color: rgba(255, 0, 0, 0.493);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  transition: 0.4s;
}
.sec1 div > a:hover {
  color: red;
  background-color: rgb(255, 108, 108);
}

.sec2 {
  width: 100%;
  min-height: 80vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.sec2 > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 40px;
}
.sec2 > p {
  font-size: 18px;
  margin-top: -250px;
  color: rgba(128, 128, 128, 0.651);
}
.sec2 > .div2 {
  width: 100%;
  height: 400px;
  margin-top: -150px;
  background-color: wheat;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.sec2 > .div2 > div {
  width: 200px;
  height: 300px;
  transition: 2s;
  position: absolute;
}
.sec2 > .div2 > div:nth-of-type(1) {
  width: 50px;
  height: 70px;
  border: none;
  background-color: rgba(255, 217, 0, 0.459);
  left: 0;
  top: 150px;
  border-radius: 0 30px 30px 0px;
  z-index: 99;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}
.sec2 > .div2 > div:nth-of-type(1):hover ~ div:nth-of-type(4) {
  left: -300px;
}
.sec2 > .div2 > div:nth-of-type(1):hover ~ div:nth-of-type(5) {
  left: 200px;
}
.sec2 > .div2 > div:nth-of-type(1):hover ~ div:nth-of-type(6) {
  left: 700px;
}
.sec2 > .div2 > div:nth-of-type(1):hover ~ div:nth-of-type(7) {
  left: 1200px;
}
.sec2 > .div2 > div:nth-of-type(1) > a {
  color: black;
}
.sec2 > .div2 > div:nth-of-type(1) > a:hover {
  color: grey;
}
.sec2 > .div2 > div:nth-of-type(2) {
  width: 50px;
  height: 70px;
  border: none;
  background-color: rgba(255, 217, 0, 0.459);
  right: 0;
  top: 150px;
  border-radius: 30px 0px 0px 30px;
  z-index: 99;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}
.sec2 > .div2 > div:nth-of-type(2):hover ~ div:nth-of-type(3) {
  left: 200px;
}
.sec2 > .div2 > div:nth-of-type(2):hover ~ div:nth-of-type(4) {
  left: 700px;
}
.sec2 > .div2 > div:nth-of-type(2):hover ~ div:nth-of-type(5) {
  left: 1200px;
}
.sec2 > .div2 > div:nth-of-type(2):hover ~ div:nth-of-type(6) {
  left: 2000px;
}
.sec2 > .div2 > div:nth-of-type(2) > a {
  color: black;
}
.sec2 > .div2 > div:nth-of-type(2) > a:hover {
  color: grey;
}
.sec2 > .div2 > div:nth-of-type(3) {
  left: -300px;
  box-shadow: 0 0 20px 10px rgb(83, 83, 236);
}
.sec2 > .div2 > div:nth-of-type(3) > figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.sec2 > .div2 > div:nth-of-type(3) > figure > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 150px;
}
.sec2 > .div2 > div:nth-of-type(3) > figure > a {
  color: gray;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.sec2 > .div2 > div:nth-of-type(3) > figure > a:hover {
  color: greenyellow;
}
.sec2 > .div2 > div:nth-of-type(3) > figure > p {
  color: rgb(58, 57, 57);
  padding-left: 20px;
}
.sec2 > .div2 > div:nth-of-type(4) {
  left: 200px;
  box-shadow: 0 0 20px 10px rgb(83, 83, 236);
}
.sec2 > .div2 > div:nth-of-type(4) > figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.sec2 > .div2 > div:nth-of-type(4) > figure > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 150px;
}
.sec2 > .div2 > div:nth-of-type(4) > figure > a {
  color: gray;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.sec2 > .div2 > div:nth-of-type(4) > figure > a:hover {
  color: greenyellow;
}
.sec2 > .div2 > div:nth-of-type(4) > figure > p {
  color: rgb(58, 57, 57);
  padding-left: 20px;
}
.sec2 > .div2 > div:nth-of-type(5) {
  left: 700px;
  box-shadow: 0 0 20px 10px rgb(83, 83, 236);
}
.sec2 > .div2 > div:nth-of-type(5) > figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.sec2 > .div2 > div:nth-of-type(5) > figure > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 150px;
}
.sec2 > .div2 > div:nth-of-type(5) > figure > a {
  color: gray;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.sec2 > .div2 > div:nth-of-type(5) > figure > a:hover {
  color: greenyellow;
}
.sec2 > .div2 > div:nth-of-type(5) > figure > p {
  color: rgb(58, 57, 57);
  padding-left: 20px;
}
.sec2 > .div2 > div:nth-of-type(6) {
  left: 1200px;
  box-shadow: 0 0 20px 10px rgb(83, 83, 236);
}
.sec2 > .div2 > div:nth-of-type(6) > figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.sec2 > .div2 > div:nth-of-type(6) > figure > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 150px;
}
.sec2 > .div2 > div:nth-of-type(6) > figure > a {
  color: gray;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.sec2 > .div2 > div:nth-of-type(6) > figure > a:hover {
  color: greenyellow;
}
.sec2 > .div2 > div:nth-of-type(6) > figure > p {
  color: rgb(58, 57, 57);
  padding-left: 20px;
}
.sec2 > .div2 > div:nth-of-type(7) {
  left: 2000px;
  box-shadow: 0 0 20px 10px rgb(83, 83, 236);
}
.sec2 > .div2 > div:nth-of-type(7) > figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.sec2 > .div2 > div:nth-of-type(7) > figure > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 150px;
}
.sec2 > .div2 > div:nth-of-type(7) > figure > a {
  color: gray;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.sec2 > .div2 > div:nth-of-type(7) > figure > a:hover {
  color: greenyellow;
}
.sec2 > .div2 > div:nth-of-type(7) > figure > p {
  color: rgb(58, 57, 57);
  padding-left: 20px;
}

.sec3 {
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
}
.sec3 > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 700px;
}
.sec3 > div > div {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(blue, blueviolet, rgba(31, 1, 65, 0.705));
}
.sec3 > div > a {
  font-size: 48px;
  color: black;
}
.sec3 > div > a:hover {
  color: grey;
}
.sec3 > div > p {
  font-size: 26px;
  color: rgb(104, 103, 103);
  padding: 0px 20px;
}
.sec3 > p {
  display: flex;
  width: 90%;
  color: grey;
  font-size: 20px;
}
.sec3 > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  font-size: 24px;
  background-color: orangered;
  border-radius: 10px;
}
.sec3 > a:hover {
  color: inherit;
}

.sec4 {
  width: 100%;
  min-height: 80vh;
  background-color: white;
  margin-top: 30px;
}
.sec4 > div:nth-of-type(1) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.sec4 > div:nth-of-type(1) > h2 {
  font-size: 40px;
  margin-top: 40px;
}
.sec4 > div:nth-of-type(1) > p {
  font-size: 28px;
  padding-top: 50px;
  color: grey;
}
.sec4 > div:nth-of-type(2) {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.sec4 > div:nth-of-type(2) > article {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sec4 > div:nth-of-type(2) > article > figure {
  width: 450px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  box-shadow: 0 0 5px 5px rgb(192, 192, 192);
}
.sec4 > div:nth-of-type(2) > article > figure > a {
  font-size: 32px;
  color: black;
  transition: 0.4s;
}
.sec4 > div:nth-of-type(2) > article > figure > a:hover {
  color: orangered;
  padding-top: 30px;
}
.sec4 > div:nth-of-type(2) > article > figure > p {
  font-size: 20px;
  color: grey;
  margin-top: 40px;
  padding: 10px;
}
.sec4 > div:nth-of-type(2) > article > figure > div {
  width: 100%;
  height: 250px;
}
.sec4 > div:nth-of-type(2) > article > figure:nth-of-type(1) > div {
  background-image: linear-gradient(49deg, rgb(53, 43, 56), rgb(29, 49, 9), rgb(12, 87, 63));
}
.sec4 > div:nth-of-type(2) > article > figure:nth-of-type(2) > div {
  background-image: linear-gradient(57deg, rgb(30, 104, 189), rgb(113, 153, 4), rgb(1, 46, 16));
}
.sec4 > div:nth-of-type(2) > article > figure:nth-of-type(3) > div {
  background-image: linear-gradient(32deg, rgb(211, 1, 123), rgb(233, 210, 3), rgb(138, 4, 4));
}

.sec5 {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(27, 27, 27);
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
}
.sec5 > div {
  height: 800px;
}
.sec5 > div:nth-of-type(1) {
  width: 450px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.sec5 > div:nth-of-type(1) > i {
  color: white;
  font-size: 48px;
}
.sec5 > div:nth-of-type(1) > p {
  display: block;
  width: 95%;
  color: white;
  font-size: 22px;
  border-bottom: 2px solid gray;
  padding-bottom: 30px;
}
.sec5 > div:nth-of-type(1) > p > span {
  color: grey;
  font-size: 13px;
}
.sec5 > div:nth-of-type(1) > p:nth-last-of-type(1) {
  border-bottom: none;
}
.sec5 > div:nth-of-type(2) {
  width: 400px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.sec5 > div:nth-of-type(2) > i {
  color: white;
  font-size: 48px;
}
.sec5 > div:nth-of-type(2) > a {
  display: block;
  width: 90%;
  font-size: 28px;
  border-bottom: 2px solid gray;
  padding-bottom: 23px;
}
.sec5 > div:nth-of-type(2) > a > span {
  color: grey;
  font-size: 13px;
}
.sec5 > div:nth-of-type(2) > a:nth-last-of-type(1) {
  border-bottom: none;
}
.sec5 > div:nth-of-type(2) > a:hover {
  color: orange;
}
.sec5 > div:nth-of-type(3) {
  width: 650px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.sec5 > div:nth-of-type(3) > i {
  width: 100%;
  color: white;
  font-size: 80px;
  margin-left: 270px;
}
.sec5 > div:nth-of-type(3) > a {
  width: 250px;
  height: 160px;
  overflow: hidden;
}
.sec5 > div:nth-of-type(3) > a > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s;
}
.sec5 > div:nth-of-type(3) > a > img:hover {
  -o-object-position: -30px -20px;
     object-position: -30px -20px;
}
.sec5 > footer {
  width: 95%;
  border-top: 10px double rgba(128, 128, 128, 0.555);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.sec5 > footer > section {
  width: 800px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
}
.sec5 > footer > section > h4 {
  color: white;
  font-size: 38px;
}
.sec5 > footer > section > p {
  font-size: 20px;
  color: white;
  padding-top: 30px;
}
.sec5 > footer > section > div {
  width: 80%;
  height: 100px;
  background-color: rgb(39, 39, 39);
  margin-top: 40px;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.sec5 > footer > section > div > a {
  color: white;
}
.sec5 > footer > section > div > a > i {
  font-size: 38px;
}
.sec5 > footer > section > div > a:hover {
  color: orange;
}/*# sourceMappingURL=helios.css.map */